<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eterna Primavera</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">


</head>

<body style="background-color: rgb(255, 248, 241);">
    <div id="header"
        style="margin: 0 auto; width: 100%; height: 75px; background-color: rgb(164, 93, 131); color:white; display: flex; justify-content: center; align-items: center;">
        <!-- Aquí puedes incluir tu encabezado común -->
        <label
            style="margin: 0; width: fit-content; font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif; font-size: 36px;">FLORERIA
            &nbsp; ETERNA &nbsp; PRIMAVERA</label>

    </div>

    <div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../view/catalogo.html" style="color: rgb(164, 93, 131);">Catálogo</a></li>
                <li><a href="../view/arreglos.html">Arreglos</a></li>
                <li><a href="../view/eventos.html">Eventos</a></li>
                <li><a href="../view/tipos.html">Tipos de Flores</a></li>
                <li><a href="../view/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </div>

    <div class="fila">
        <div style="align-items: left;display: flex;width: 900px; margin-top: 25px;">
            <h2>ARREGLOS FLORALES</h2>
        </div>
    </div>
    <div class="fila" style="margin-top: -25px;"> 
        <div class="columna">
            <img src="../assets/img/7.jpeg" class="imagen">
            <p>$50.000</p>
            <p>Arreglos floral de rosas</p>
        </div>
        <div class="columna">
            <img src="../assets/img/8.jpeg" class="imagen">
            <p>$19.990</p>
            <p>Arreglo de sillas</p>
        </div>
        <div class="columna">
            <img src="../assets/img/9.jpeg" class="imagen">
            <p>$19.990</p>
            <p>Arreglos de rosas rosadas</p>
        </div>
        <div class="columna">
            <img src="../assets/img/10.jpeg" class="imagen" style="margin-top: 50px;">
            <p>$44.990</p>
            <p>Arreglos de flores con
                rosas <br> mas corazón</p>
        </div>
    </div>
    <div class="fila">
        <div style="align-items: left;display: flex;width: 900px; margin-top: 25px;">
            <h2>RAMO DE FLORES</h2>
        </div>
    </div>

    <div class="fila"> 
        <div class="columna">
            <img src="../assets/img/11.jpeg" class="imagen">
            <p>$15.990</p>
            <p>Ramo de flores mixtas con lazo </p>
        </div>
        <div class="columna">
            <img src="../assets/img/12.jpeg" class="imagen">
            <p>$19.990</p>
            <p>Ramo floral mixto </p>
        </div>
        <div class="columna">
            <img src="../assets/img/13.jpeg" class="imagen">
            <p>$19.990</p>
            <p>Ramo grande con daisy y carta </p>
        </div>
        <div class="columna">
            <img src="../assets/img/14.jpeg" class="imagen">
            <p>$25.990</p>
            <p>Ramos flores mixtas con girasoles </p>
        </div>
    </div>
    

</body>

</html>