<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eterna Primavera</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body style="background-color: rgb(255, 248, 241);">
    <div id="header"
        style="margin: 0 auto; width: 100%; height: 75px; background-color: rgb(164, 93, 131); color:white; display: flex; justify-content: center; align-items: center;">
        <!-- Aquí puedes incluir tu encabezado común -->
        <label
            style="margin: 0; width: fit-content; font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif; font-size: 36px;">FLORERIA
            &nbsp; ETERNA &nbsp; PRIMAVERA</label>

    </div>

    <div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../view/catalogo.html">Catálogo</a></li>
                <li><a href="../view/arreglos.html">Arreglos</a></li>
                <li><a href="../view/eventos.html">Eventos</a></li>
                <li><a href="../view/tipos.html" style="color: rgb(164, 93, 131);">Tipos de Flores</a></li>
                <li><a href="../view/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </div>

    <div class="fila">
        <div style="align-items: left;display: flex;width: 900px; margin-top: 25px;">
            <h2>TIPOS DE FLORES</h2>
        </div>
    </div>

    <div class="fila">
        <div class="columna">
            <img src="../assets/img/tipo/1.jpeg" class="imagen" style="width: 125px ; height: 125px;"
                data-toggle="modal" data-target="#exampleModal">
            <p> GIRASOL </p>
        </div>
        <div class="columna">
            <img src="../assets/img/tipo/2.jpeg" class="imagen" style="width: 125px ; height: 125px;"
                data-toggle="modal" data-target="#exampleModal2">
            <p> MAULES </p>
        </div>
        <div class="columna">
            <img src="../assets/img/tipo/3.jpeg" class="imagen" style="width: 125px ; height: 125px;"
                data-toggle="modal" data-target="#exampleModal3">
            <p> ROSAS </p>
        </div>
        <div class="columna">
            <img src="../assets/img/tipo/4.jpeg" class="imagen" style="width: 125px ; height: 125px;"
                data-toggle="modal" data-target="#exampleModal4">
            <p> TULIPANES </p>
        </div>
        <div class="columna">
            <img src="../assets/img/tipo/5.jpeg" class="imagen" style="width: 125px ; height: 125px;"
                data-toggle="modal" data-target="#exampleModal5">
            <p> DAISY </p>
        </div>
        <div class="columna">
            <img src="../assets/img/tipo/6.jpeg" class="imagen" style="width: 125px ; height: 125px;"
                data-toggle="modal" data-target="#exampleModal6">
            <p> LIRIO </p>
        </div>
    </div>

    <div class="fila">
        <div class="columna">
            <img src="../assets/img/tipo/7.jpeg" class="imagen" style="width: 125px ; height: 125px;"
                data-toggle="modal" data-target="#exampleModal7">
            <p> FLOR DE CERA </p>
        </div>
        <div class="columna">
            <img src="../assets/img/tipo/8.jpeg" class="imagen" style="width: 125px ; height: 125px;"
                data-toggle="modal" data-target="#exampleModal8">
            <p> LISIANTHUS </p>
        </div>
        <div class="columna">
            <img src="../assets/img/tipo/9.jpeg" class="imagen" style="width: 125px ; height: 125px;"
                data-toggle="modal" data-target="#exampleModal9">
            <p> LIMONIUM </p>
        </div>
        <div class="columna">
            <img src="../assets/img/tipo/10.jpeg" class="imagen" style="width: 125px ; height: 125px;"
                data-toggle="modal" data-target="#exampleModal10">
            <p> CLAVELES </p>
        </div>
        <div class="columna">
            <img src="../assets/img/tipo/11.jpeg" class="imagen" style="width: 125px ; height: 125px;"
                data-toggle="modal" data-target="#exampleModal11">
            <p> ASTER </p>
        </div>
        <div class="columna">
            <img src="../assets/img/tipo/12.jpeg" class="imagen" style="width: 125px ; height: 125px;"
                data-toggle="modal" data-target="#exampleModal12">
            <p> ALHELÍ </p>
        </div>
    </div>

    <!-- -------------------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------------- -->


    <!--                                     INICIO DE MODALS                                               -->


    <!-- -------------------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------------- -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo de planta: GIRASOL</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <img src="../assets/img/tipo/1.jpeg" class="imagen" style="width: 250px ; height: 250px;">
                    </div>

                    El girasol es el símbolo del Sol y simboliza el amor y la admiración. Pero también la felicidad, la
                    vitalidad, el positivismo y la energía. En la cultura china simboliza una larga vida y buena suerte.
                    Los girasoles son plantas tan importantes que incluso han inspirado a artistas como Van Gogh. ¡Y
                    peculiares! Una de las particularidades más destacadas de esta especie, razón por la cual se llaman
                    así, es su capacidad para seguir la ruta del sol, es decir, giran en busca de la luz solar.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo de planta: MAULES</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <img src="../assets/img/tipo/2.jpeg" class="imagen" style="width: 250px ; height: 250px;">
                    </div>

                    Son flores muy relacionadas con la amistad y con la pureza del primer amor.
                    Se trata de la “Adesmia bijuga”, planta endémica del Maule, es decir, que solo es posible encontrar
                    de forma natural en nuestra región que por más de 100 años se creyó desaparecida, hasta que en fue
                    redescubierta por casualidad.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo de planta: ROSAS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <img src="../assets/img/tipo/3.jpeg" class="imagen" style="width: 250px ; height: 250px;">
                    </div>

                    Estas suelen ser el obsequio por excelencia de los enamorados. Un rosa o un ramo de rosas rojas
                    simbolizan amor, pasión, atracción y seducción. Asimismo, las rosas rojas pueden simbolizar
                    admiración, belleza y el cariño que siente una amistad por otra. La rosa blanca simboliza pureza e
                    inocencia.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo de planta: TULIPANES</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <img src="../assets/img/tipo/4.jpeg" class="imagen" style="width: 250px ; height: 250px;">
                    </div>

                    Es un símbolo del amante perfecto, la pasión y el romanticismo. El tulipán es un símbolo de amor
                    sincero. Es una flor increíblemente romántica que al regalarla expresas enamoramiento, pasión, amor
                    incondicional, amor puro, etc. Su significado varía en los tonos de color de éste.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo de planta: DAISY</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <img src="../assets/img/tipo/5.jpeg" class="imagen" style="width: 250px ; height: 250px;">
                    </div>

                    Se cree que esta flor simboliza la inocencia y la pureza, y su centro amarillo representa la vida.
                    También es conocida como "ojo de buey" por su centro amarillo. A lo largo de la historia, el
                    significado de las margaritas ha sido utilizada en muchas culturas y religiones.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo de planta: LIRIO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <img src="../assets/img/tipo/6.jpeg" class="imagen" style="width: 250px ; height: 250px;">
                    </div>

                    A muchas personas les encantan los lirios por sus hermosas flores en forma de trompeta que se
                    asientan sobre tallos fuertes. ¡Pero el significado de la flor del lirio también merece un
                    reconocimiento especial! Los lirios simbolizan el amor, la pureza, la fertilidad y el renacimiento ,
                    pero cada color de lirio tiene un significado único.
                    Lirios blancos: pureza, inocencia y belleza. Lirios amarillos: felicidad en el amor, gratitud y
                    alegría. Lirios rojos: amor, seducción. Lirios naranjas: pasión
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo de planta: FLOR DE CERA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <img src="../assets/img/tipo/7.jpeg" class="imagen" style="width: 250px ; height: 250px;">
                    </div>

                    Se considera que flor de cera armoniza con una orientación Norte. Su capacidad natural para
                    purificar el aire se alinea con el elemento agua, asociado al Norte. Este flujo energético
                    equilibrado fomenta la claridad y la sabiduría en el espacio, aunque las experiencias individuales
                    pueden variar.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo de planta: LISIANTHUS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <img src="../assets/img/tipo/8.jpeg" class="imagen" style="width: 250px ; height: 250px;">
                    </div>

                    El principal significado del lisianthus o eustoma es la entrega amorosa y el compromiso profundo,
                    por lo que su uso en arreglos florales para bodas y como regalo de aniversario es cada vez más
                    amplio. Los ramos de lisianthus son una manera única de simbolizar el “amor eterno”.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo de planta: LIMONIUM</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <img src="../assets/img/tipo/9.jpeg" class="imagen" style="width: 250px ; height: 250px;">
                    </div>

                    Su nombre limonium proviene del griego “leimon” y significa pradera, este nombre tiene relación con
                    el lugar donde podemos encontrar la flor. Además se pueden encontrar alrededor de 300 especies que
                    pertenecen a este género.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo de planta: CLAVELES</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <img src="../assets/img/tipo/10.jpeg" class="imagen" style="width: 250px ; height: 250px;">
                    </div>

                    El clavel simboliza la pasión, el afecto, el anhelo y el romance. Los pintores del Renacimiento en
                    el s. XV y XVI la eligieron como flor predilecta para aparecer en sus escenas de compromiso y
                    emparejamiento. Nada ha cambiado desde entonces y el clavel sigue siendo el regalo perfecto para
                    demostrar amor con flores.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo de planta: ASTER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <img src="../assets/img/tipo/11.jpeg" class="imagen" style="width: 250px ; height: 250px;">
                    </div>

                    El Áster, una encantadora flor que pinta de colores los jardines en septiembre, trasciende su
                    belleza para comunicar un mensaje profundo a través del lenguaje de las flores. El Áster se asocia
                    con el amor, la paciencia y la sabiduría.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo de planta: ALHELÍ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <img src="../assets/img/tipo/12.jpeg" class="imagen" style="width: 250px ; height: 250px;">
                    </div>

                    El Alhelí era una de las flores más apreciadas durante los reinados árabes en la península, de echo,
                    su nombre proviene del árabe hispánico al-jayrí, que a su vez procede del árabe clásico hiri y cuyo
                    significado es "de lo mejor". Su cultivo ha de llevarse a cabo en la época otoñal, multiplicándose
                    por semillas.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</body>

</html>